{% extends 'base.html' %}

{% block content %}
  <h1>Product List</h1>
  <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Size</th>
        <th>Stock Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for product in product_list %}
        <tr>
          <td>{{ product.code }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.get_size_display }}</td>
          <td>{{ product.stock_quantity }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">No products found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
